@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NM</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/DisableRMCLogin.js"></script>
</head>
<body>
    @*<div id="bgvid">
            <img width="100%" height="100%" src="~/Content/images/fondazoTP.png" />
        </div>*@
    <div class='wrapper'>
        <div class='form-header'>
            <h2><em><img src="~/Content/images/logo.png" /></em></h2>
            <h2><em>PR</em></h2>
        </div>
        <form class='form animate-form' id='form1' method="post">
            <div class='form-group- has-feedback'>
                @Html.AntiForgeryToken()
            </div>
            <div class='form-group has-feedback'>
                <label class='control-label sr-only' for='username'>Username</label>
                <div class='input-group-addon'>

                    <div class='fa fa-user-circle-o'></div>
                </div>
                <input class='form-control' id='username' autocomplete="off" name='username' placeholder='User' type='text'>
                <span class='glyphicon glyphicon-ok form-control-feedback'></span>
            </div>
            <div class='form-group has-feedback'>
                <label class='control-label sr-only' for='password'>Password</label>
                <div class='input-group-addon'>

                    <div class='fa fa-key'></div>
                </div>
                <input class='form-control' id='password' name='password' autocomplete="off" placeholder='Password' type='password'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
            </div>
            <div class='form-group submit'>
                <input class='btn btn-lg' type='submit' value='Log In'>
            </div>
        </form>
    </div>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/formAnimation.js"></script>
    <script src="~/Scripts/shake.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@

</body>
</html>