@model ASN.Models.ELAViewModel

<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>

<div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            <label for="SubAction">SubAction</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownList()
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetSubActionsCMB", "ProDepro", new { accion = Model.accion });
                    });
                    //.ServerFiltering(true);
                })
                //.Filter("contains")
                //.OptionLabel("- Action - ")
                .DataValueField("Id")
                .DataTextField("Valor")
                .Name("SubAction")
                .Enable(true)
                .Events(s => s.DataBound("ELAOpen"))
            //.HtmlAttributes(new { required = "required" })
            )
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            <label for="FechaIni">DateIni</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().DatePicker()
                    .Format("yyyy-MM-dd")
                    .ParseFormats(new string[] {
                           "ddd, M/d/yyyy",
                           "ddd, MM/dd/yyyy",
                           "ddd, M/dd/yyyy",
                      })
                    .Name("FechaIni")
                    .Value(DateTime.Now)
                    .Min(DateTime.Now)
            //.HtmlAttributes(new { id = "Fecha" })
            )
        </div>
    </div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            <label for="FechaFin">DateEnd</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().DatePicker()
                    .Format("yyyy-MM-dd")
                    .ParseFormats(new string[] {
                           "ddd, M/d/yyyy",
                           "ddd, MM/dd/yyyy",
                           "ddd, M/dd/yyyy",
                      })
                    .Name("FechaFin")
                    .Value(DateTime.Now.AddDays(1))
                    .Min(DateTime.Now.AddDays(1))
            //.HtmlAttributes(new { id = "Fecha" })
            )
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#FechaIni").attr("readonly", true);
        $("#FechaFin").attr("readonly", true);
        //$("#pop a[class='k-grid-update']").on("click", function () {
        $(".k-grid-update").on("click", function () {
            try {
                if ($("#ActionId").val() > 0) {
                    $(".k-grid-update").css("display", "none");
                    $(".k-grid-cancel").css("display", "none");
                    //$(".k-window-actions").hide()
                    //$("input").prop('disabled', true);
                    //$("#FechaR2W").data("kendoDropDownList").enable(false);
                    $("#ActionId").data("kendoDropDownList").enable(false);
                    $("#pop").append('<img id="loader" src="@Url.Content("~/Content/images/142loading.gif")" alt="Banner" />');
                }
            }
            catch (ex) {

            }
        });
    });
</script>
