*.bak
.vs/*
Documentos/~$*
Documentos/.~*
Documentos/Análisis/.~*
Documentos/Diseños de Interacción/.~*
Documentos/Pendientes/.~*
Documentos/Reportes de Pruebas/.~*
Proyecto/.vs/*
Proyecto/ASN/bin/*
Proyecto/ASN/obj/*
ASN/Publish/*
Proyecto/ASN/Properties/*
Proyecto/ASN/*.user
