@model  ASN.Models.CatConceptosMotivosSel_Result

<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>
<div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            <label for="Descripcion">Motivo de Incidencia</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().TextBoxFor(x => x.Descripcion))
        </div>
        <div class="editor-label">
            <label for="Active">Activo</label>
        </div>
        <div class="editor-field">
            @Html.CheckBox("Active")
        </div>
    </div>
</div>
