@model  ASN.Models.CatPeriodicidadNominaSel_Result

<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>
<div>
    <div class="k-edit-form-container">
        <div class="editor-label">
            <label for="PeriodicidadNominaId">Periodicidad</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().TextBoxFor(x => x.PeriodicidadNominaId)
                .HtmlAttributes(new { required = "required", MaxLength = "5", validationMessage = "Este campo es requerido." }))
        </div>
        <div class="editor-label">
            <label for="Descripcion">Descripción</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().TextBoxFor(x => x.Descripcion)
                .HtmlAttributes(new { required = "required", MaxLength = "50", validationMessage = "Este campo es requerido." }))
        </div>
        <div class="editor-label">
            <label for="Active">Activo</label>
        </div>
        <div class="editor-field">
            @Html.CheckBox("Active")
        </div>
    </div>
</div>
