USE [ASN]
GO
/****** Object:  StoredProcedure [app620].[EmpleadosxPerfilSel3]    Script Date: 16/04/2019 06:06:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [app620].[EmpleadosxPerfilSel3]
(
	 @Perfil_Ident			INT = -1
)
AS

BEGIN

	SELECT
		 @Perfil_Ident			= ISNULL(@Perfil_Ident, -1)

	SELECT
		  Emp.Ident
		, Emp.Nombre
		, Perfil.Active PerfilActivo
		, PEA.Active PEA_Activo
	
	FROM
		app620.CatEmployeeCCMSVw AS Emp 
		JOIN app620.CatLocationVw AS Loc 
			ON Emp.Location_Ident = Loc.Location_Ident 
		JOIN app620.CatPerfilEmpleados Perfil
			ON	(Perfil.Perfil_Ident		= @Perfil_Ident				OR	@Perfil_Ident					= -1)

			AND	(Emp.Company_Ident			= Perfil.Company_Ident		OR	Perfil.Company_Ident			= -1)
			AND (Emp.Location_Ident			= Perfil.Location_Ident		OR	Perfil.Location_Ident			= -1)
			AND (Emp.Client_Ident			= Perfil.Client_Ident			OR	Perfil.Client_Ident			= -1)
			AND (Emp.Program_Ident			= Perfil.Program_Ident		OR	Perfil.Program_Ident			= -1)
			AND (Emp.Contract_Type_Ident	= Perfil.Contract_Type_Ident	OR	Perfil.Contract_Type_Ident	= -1)

			AND (Loc.country_ident			= Perfil.Country_Ident		OR	Perfil.Country_Ident			= -1)
			AND (Loc.city					= Perfil.City_Ident			OR	Perfil.City_Ident				= '-1')

		--,app620.CatPerfilEmpleados Perfil
		LEFT JOIN [app620].[CatPerfilEmpleadosAccesos] PEA
			ON	PEA.[Perfil_Ident]			= Perfil.Perfil_Ident
			AND	PEA.[EmpleadoId]			= Emp.Ident

	WHERE
		Emp.Current_Status			= 'Active'

	--ORDER BY PEA.Active
END
