
@{
    ViewBag.Title = "Crear Solicitud";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="row">
            <div style="display: inline-block;">
                @Html.Label("Captura de solicitud", new { style = "font-size: 15px" }) - @Html.Label("Empleados por perfil", new { style = "font-size: 15px" })
                </div>
            </div>
            <div id="Formulario">
                <div class="k-form-field">
                    <div class="editor-label">
                        <label for="perfilId">Perfil de usuario</label>
                    </div>
                    <div class="editor-field">
                        @(Html.Kendo().DropDownList().DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetPerfilCMB", "Solicitudes");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Filter("contains")
                                    .OptionLabel("- Seleccione Perfil - ")
                                    .DataValueField("Ident")
                                    .DataTextField("Valor")
                                    .Name("PerfilUsuarioId")
                                    .HtmlAttributes(new { required = "required", style = "text-align:center;width: 22.4em", validationMessage = "Este campo es requerido." })
                        )
                    </div>


                    <section class="well">
                        <h2 class="ra-well-title">Profile Setup</h2>

                        <div class="form-horizontal form-widgets col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="name">Name</label>
                                <div class="col-sm-8 col-md-6">
                                    <input id="name" value="Johnatan Dodsworth" class="k-textbox">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="birthday">Birthday</label>
                                <div class="col-sm-8 col-md-6">
                                    <span class="k-widget k-datepicker" style=""><span class="k-picker-wrap k-state-default"><input type="text" value="10/09/1979" data-role="datepicker" class="k-input sessioncamexclude" role="combobox" aria-expanded="false" autocomplete="off" aria-disabled="false" style="width: 100%;"><span unselectable="on" class="k-select" aria-label="select" role="button"><span class="k-icon k-i-calendar"></span></span></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="gender" id="gender_label">Gender</label>
                                <div class="col-sm-8 col-md-6">
                                    <span title="" class="k-widget k-dropdown" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="gender_listbox" aria-labelledby="gender_label" aria-live="polite" aria-disabled="false" aria-busy="false" aria-activedescendant="a452cf8d-a446-430d-ae18-99b442d1dc66" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Male</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-arrow-60-down"></span></span></span><select id="gender" data-role="dropdownlist" style="display: none;"><option value="Male" selected="selected">Male</option><option value="Female">Female</option></select></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="language" id="language_label">Language</label>
                                <div class="col-sm-8 col-md-6">
                                    <span title="" class="k-widget k-dropdown" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="language_listbox" aria-labelledby="language_label" aria-live="polite" aria-disabled="false" aria-busy="false" aria-activedescendant="5dc459e1-1568-4111-b20c-e88d1ad751a0" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">English</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-arrow-60-down"></span></span></span><select id="language" data-role="dropdownlist" style="display: none;"><option value="English" selected="selected">English</option><option value="German">German</option></select></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal form-widgets col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="occupation">Occupation</label>
                                <div class="col-sm-8 col-md-6">
                                    <input id="occupation" placeholder="e.g. Developer" class="k-textbox">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="skills" id="skills_label">Skills</label>
                                <div class="col-sm-8 col-md-6">
                                    <div class="k-widget k-multiselect k-multiselect-clearable" unselectable="on" title="" style=""><div class="k-multiselect-wrap k-floatwrap" unselectable="on"><ul role="listbox" unselectable="on" class="k-reset" id="skills_taglist"><li class="k-button" unselectable="on"><span unselectable="on">C#</span><span unselectable="on" aria-label="delete" class="k-select"><span class="k-icon k-i-close"></span></span></li><li class="k-button" unselectable="on"><span unselectable="on">jQuery</span><span unselectable="on" aria-label="delete" class="k-select"><span class="k-icon k-i-close"></span></span></li></ul><input class="k-input k-textbox" style="width: 25px" accesskey="" autocomplete="off" role="listbox" title="" aria-expanded="false" tabindex="0" aria-describedby="skills_taglist" aria-owns="skills_taglist skills_listbox" aria-labelledby="skills_label" aria-disabled="false" aria-busy="false"><span unselectable="on" class="k-icon k-clear-value k-i-close" title="clear" role="button" tabindex="-1"></span><span class="k-icon k-i-loading k-hidden"></span></div><select id="skills" multiple="multiple" data-role="multiselect" aria-disabled="false" style="display: none;"><option value="C">C</option><option value="C++">C++</option><option value="C#" selected="">C#</option><option value="JavaScript">JavaScript</option><option value="jQuery" selected="">jQuery</option><option value="Git">Git</option><option value="Node.js">Node.js</option><option value="Ruby">Ruby</option><option value="Ruby on Rails">Ruby on Rails</option><option value="Kendo UI">Kendo UI</option></select><span style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: 100%; font-style: normal; font-weight: 400; letter-spacing: normal; text-transform: none; line-height: 27.1px; position: absolute; visibility: hidden; top: -3333px; left: -3333px;"></span></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="experience">Experience</label>
                                <div class="col-sm-8 col-md-6">
                                    <span class="k-widget k-numerictextbox" style=""><span class="k-numeric-wrap k-state-default"><input type="text" class="k-formatted-value k-input sessioncamexclude" title="4 years" tabindex="0" role="spinbutton" autocomplete="off" aria-valuenow="4" aria-disabled="false" style="display: inline-block;"><input id="experience" type="text" value="4" data-role="numerictextbox" role="spinbutton" class="k-input sessioncamexclude" aria-valuenow="4" aria-disabled="false" style="display: none;"><span class="k-icon k-i-warning" style="display: none;"></span><span class="k-select"><span unselectable="on" class="k-link k-link-increase" aria-label="Increase value" title="Increase value"><span unselectable="on" class="k-icon k-i-arrow-60-up"></span></span><span unselectable="on" class="k-link k-link-decrease" aria-label="Decrease value" title="Decrease value"><span unselectable="on" class="k-icon k-i-arrow-60-down"></span></span></span></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-horizontal form-widgets col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="bio">Short bio</label>
                                <div class="col-sm-10">
                                    <table cellspacing="4" cellpadding="0" class="k-widget k-editor k-header k-editor-widget" role="presentation"><tbody><tr role="presentation"><td class="k-editor-toolbar-wrap" role="presentation"><ul class="k-editor-toolbar" role="toolbar" aria-controls="bio" data-role="editortoolbar"><li class="k-tool-group" role="presentation"><span class="k-editor-dropdown k-group-start k-group-end"><span title="Format" class="k-widget k-dropdown k-editor-widget" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="745bdc7a-e993-40f0-b4a7-f8b875fbbc37_listbox" aria-live="polite" aria-disabled="false" aria-busy="false" aria-activedescendant="d920e412-0fdb-44ad-9901-4c9e2ecf6d6c" style="width: 110px;"><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Format</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-arrow-60-down" unselectable="on"></span></span></span><select title="Format" class="k-formatting k-decorated" data-role="selectbox" style="width: 110px; display: none;" unselectable="on"><option value="p">Paragraph</option><option value="blockquote">Quotation</option><option value="h1">Heading 1</option><option value="h2">Heading 2</option><option value="h3">Heading 3</option><option value="h4">Heading 4</option><option value="h5">Heading 5</option><option value="h6">Heading 6</option></select></span></span></li><li class="k-tool-group k-button-group" role="presentation"><a tabindex="0" role="button" class="k-tool k-group-start" unselectable="on" title="Bold" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-bold"></span><span class="k-tool-text">Bold</span></a><a tabindex="0" role="button" class="k-tool" unselectable="on" title="Italic" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-italic"></span><span class="k-tool-text">Italic</span></a><a tabindex="0" role="button" class="k-tool" unselectable="on" title="Underline" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-underline"></span><span class="k-tool-text">Underline</span></a><a tabindex="0" role="button" class="k-tool k-group-end" unselectable="on" title="Strikethrough" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-strikethrough"></span><span class="k-tool-text">Strikethrough</span></a></li><li class="k-tool-group k-button-group" role="presentation"><a tabindex="0" role="button" class="k-tool k-group-start" unselectable="on" title="Subscript" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-sub-script"></span><span class="k-tool-text">Subscript</span></a><a tabindex="0" role="button" class="k-tool k-group-end" unselectable="on" title="Superscript" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-sup-script"></span><span class="k-tool-text">Superscript</span></a></li><li class="k-tool-group k-button-group" role="presentation"><a tabindex="0" role="button" class="k-tool k-group-start" unselectable="on" title="Align text left" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-align-left"></span><span class="k-tool-text">Align text left</span></a><a tabindex="0" role="button" class="k-tool" unselectable="on" title="Center text" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-align-center"></span><span class="k-tool-text">Center text</span></a><a tabindex="0" role="button" class="k-tool" unselectable="on" title="Align text right" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-align-right"></span><span class="k-tool-text">Align text right</span></a><a tabindex="0" role="button" class="k-tool k-group-end" unselectable="on" title="Justify" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-align-justify"></span><span class="k-tool-text">Justify</span></a></li><li class="k-tool-group k-button-group" role="presentation"><a tabindex="0" role="button" class="k-tool k-group-start" unselectable="on" title="Insert unordered list" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-list-unordered"></span><span class="k-tool-text">Insert unordered list</span></a><a tabindex="0" role="button" class="k-tool" unselectable="on" title="Insert ordered list" aria-pressed="false"><span unselectable="on" class="k-tool-icon k-icon k-i-list-ordered"></span><span class="k-tool-text">Insert ordered list</span></a><a tabindex="0" role="button" class="k-tool k-group-end" unselectable="on" title="Indent"><span unselectable="on" class="k-tool-icon k-icon k-i-indent-increase"></span><span class="k-tool-text">Indent</span></a><a tabindex="0" role="button" class="k-tool k-group-end k-state-disabled" unselectable="on" title="Outdent"><span unselectable="on" class="k-tool-icon k-icon k-i-indent-decrease"></span><span class="k-tool-text">Outdent</span></a></li></ul></td></tr><tr><td class="k-editable-area"><iframe title="Editable area. Press F10 for toolbar." frameborder="0" class="k-content" tabindex="0"></iframe><textarea id="bio" data-role="editor" autocomplete="off" class="k-content k-raw-content" style="display: none;"></textarea></td></tr></tbody></table>
                                </div>
                            </div>
                        </div>

                        <div class="buttons-wrap">
                            <button class="k-button k-state-default">Cancel</button>
                            <button class="k-button k-state-default">Update</button>
                        </div>
                    </section>

                </div>

            </div>
        </div>
    </div>
}
