

    <div>
        <div class="col-lg-4">
            <div id="parent">
                @(Html.Kendo().Grid<ASN.Models.ReporteConceptoGeneralSel_Result>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ConceptoId).Title("ConceptoId").Visible(false).Filterable(false).Width(5);
                            columns.Bound(c => c.CONCEPTO).Title("Concepto").Filterable(true).Width(10);
                            columns.Bound(c => c.CONTEO).Title("Conteo").Filterable(ftb => ftb.Cell(cell => cell.Template("gridFilterIntegerNumericTextbox").ShowOperators(false))).Width(5);
                            columns.Bound(c => c.IMPORTE).Title("Importe").Filterable(ftb => ftb.Cell(cell => cell.Template("gridFilterIntegerNumericTextbox").ShowOperators(false))).Width(5);
                        }
                    )
                    .ToolBar(toolBar =>
                    {
                        toolBar.Excel().Text("Exportar a excel");
                    })
                    .Excel(ex => ex.AllPages(true))
                    //.HtmlAttributes(new { style = "height: 700px;" })
                    .Scrollable(sorteable => sorteable.Virtual(false))
                    .Sortable()
                    .Resizable(c => c.Columns(true))
                    //.Editable(editable => editable.Mode(GridEditMode.InCell))
                    //.Editable(editable => editable.Mode(GridEditMode.PopUp))
                    //.Events(eve => eve.Edit("edit"))
                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(c => c.ConceptoId);
                            model.Field(c => c.ConceptoId).Editable(false);
                            model.Field(c => c.CONTEO).Editable(true);
                            model.Field(c => c.CONCEPTO).Editable(true);
                            model.Field(c => c.IMPORTE).Editable(true).DefaultValue(true);
                        })
                        .Read(read => read.Action("GetConceptosGeneral", "Reportero"))
                        .PageSize(20)
                    //.Events(ev => ev.Error("errores").RequestEnd("reload"))
                    )
                    .Navigatable()
                    .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5)
                        .Numeric(true)
                        .PreviousNext(true)
                    //.Messages(messages =>
                    //{
                    //    messages.ItemsPerPage("Registros por página");
                    //    messages.Empty("Sin información para mostrar");
                    //    messages.First("Primera");
                    //    messages.Page("Página");
                    //    messages.Last("Última");
                    //    messages.Previous("Anterior");
                    //    messages.Next("Siguiente");
                    //    messages.Refresh("Actualizar");
                    //    messages.Of("De");
                    //    messages.MorePages("Mas páginas");
                    //    //messages.Display("Prueba");
                    //    messages.Display("{0} a {1} de {2}");
                    //})
                    )
                )
            </div>
        </div>
</div>

<script>
    function resizeGrid() {
    var gridElement = $("#gridSolicitud"),
        dataArea = gridElement.find(".k-grid-content"),
        gridHeight = gridElement.innerHeight(),
        otherElements = gridElement.children().not(".k-grid-content"),
        otherElementsHeight = 0;
        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });
        dataArea.height(gridHeight - otherElementsHeight);
    }

    function resizeWrapper() {
        $("#parent").height(document.body.offsetHeight - 180);
    }

    $(window).resize(function () {
        resizeWrapper();
        resizeGrid();
    });

    $(document).ready(function () {
        $(window).trigger("resize");
    });

</script>


