
@{
    ViewBag.Title = "AniosNomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #grid {
        height: 99%;
    }

    #parent {
        overflow: hidden;
    }

    html,
    body {
        height: 100%;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @Html.Label("Catálogo Años de Nómina", new { style = "font-size: 18px" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="parent">
                    @(Html.Kendo().Grid<ASN.Models.CatAniosNominaSel_Result>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar"); }).Width(15).HtmlAttributes(new { style = "text-align: center;" });
                            columns.Bound(c => c.Descripcion).Title("Descripción").Visible(true).Width(50);
                            columns.Bound(c => c.AnioId).Title("Año").Visible(true).Width(50).Filterable(ftb => ftb.Cell(cell => cell.Template("gridFilterIntegerNumericTextbox").ShowOperators(false)));
                            columns.Bound(c => c.FechaInicio).Width(50).Title("Fecha Inicio").Format("{0:yyyy-MM-dd}").Visible(true).Filterable(false);
                            columns.Bound(c => c.FechaCierre).Width(50).Title("Fecha Cierre").Format("{0:yyyy-MM-dd}").Visible(true).Filterable(false);
                            columns.Bound(c => c.Active).Width(50).Title("Activo").Visible(true).Filterable(false).ClientTemplate("#:Active  ? 'Si' : 'No' #");
                        }
                        )
                        .ToolBar(toolBar =>
                        {
                            toolBar.Create().Text("Nuevo");
                            toolBar.Excel().Text("Exportar a excel");
                        }
                        )
                        .Excel(ex => ex.AllPages(true))
                        //.HtmlAttributes(new { style = "height: 475px;" })
                        .Scrollable(sorteable => sorteable.Virtual(false))
                        .Sortable()
                        .Resizable(c => c.Columns(true))
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("AnioNominaPopUp"))
                        .Events(eve => eve.SaveChanges("onSave").Edit("edit"))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(c => c.AniosNominaId);
                                model.Field(c => c.AnioId).Editable(true);
                                model.Field(c => c.FechaInicio).Editable(true);
                                model.Field(c => c.FechaCierre).Editable(true);
                                model.Field(c => c.Descripcion).Editable(true);
                                model.Field(c => c.Active).Editable(true).DefaultValue(true);
                            })
                            .Read(read => read.Action("GetAniosNomina", "Nomina"))
                            .Update(update => update.Action("UpdateAnioNomina", "Nomina").Type(HttpVerbs.Post).Data("accionado"))
                            .Create(create => create.Action("CreateAnioNomina", "Nomina").Type(HttpVerbs.Post).Data("accionado"))
                            .PageSize(10)
                        .Events(ev => ev.Error("errorsote").RequestEnd("validaAccion"))
                        )
                        .Navigatable()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5)
                            .Numeric(true)
                            .PreviousNext(true)
                        .Messages(messages =>
                        {
                            messages.ItemsPerPage("Registros por página");
                            messages.Empty("Sin información para mostrar");
                            messages.First("Primera");
                            messages.Page("Página");
                            messages.Last("Última");
                            messages.Previous("Anterior");
                            messages.Next("Siguiente");
                            messages.Refresh("Actualizar");
                            messages.Of("De");
                            messages.MorePages("Mas páginas");
                            messages.Display("{0} a {1} de {2}");
                        })
                        )
                    )
                </div>
            </div>
        </div>
    </div>

}
else
{
    <p>You are not logged in</p>
}

<script>
    var anioss = '@DateTime.Now.Year';
</script>

@Scripts.Render("~/bundles/AniosNomina")