
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        width: 50%;
    }
</style>

@*@if (User.Identity.IsAuthenticated)
{*@
<div class="container">
    <div class="col-lg-4">
        @Html.Label("Periodo de nómina actual: ", new { style = "font-size: 15px" })
        @(Html.Kendo().DropDownList().DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetPeriodoNominaCMB", "DescargaArchivos");
                        }
                        );
                        //.ServerFiltering(true);
                    }
                    )
                    .Filter("contains")
                    .OptionLabel("- Seleccione Periodo de Nomina - ")
                    .DataValueField("Ident")
                    .DataTextField("Valor")
                    .Name("PeriodoNomina_Id")
                    .SelectedIndex(1)
                    .Enable(false)
                    .HtmlAttributes(new { required = "required", style = "text-align:center;width: 14em", validationMessage = "Este campo es requerido." })
        )
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" title="Descargar" name="btnDescargar" value="Descargar" onclick="window.location.href='@Url.Action("DownloadCSV")'" />
        </div>
    </div>
</div>

@*}
else
{
    <p>You are not logged in</p>

    Response.Redirect(Url.Action("Login", "Home"));
}*@


