<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>M N</title>
    <style type="text/css">
    </style>
</head>
<body bgcolor="#3f3f3f" text="#919191" style="margin: 0;padding: 0;background-color: #ffffff;color: black;">

    <table width="770" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad" bgcolor="#ffffff" style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 770px;">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center" class="links-color">
                    <img border="0" hspace="0" vspace="0" class="mobile-full" alt="" style="border: 0px;display: block;vertical-align: top;max-width: 534px;width: 100%;height: auto;" src="cid:imagens" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-size: 16px;font-weight:  bold;align:center;">
                        Seguimiento de solicitudes
                    </label>
                    <br />
                    <label style="color:black;">
                        Estimado usuario. <br /> <br />
                        #cuerpo#
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>