
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <label>Catálogo de conceptos</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @(Html.Kendo().Grid<ASN.Models.CatConceptosSel_Result>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ConceptoId).Title("Concepto").Visible(true).Filterable(false).Width(50);
                            columns.Bound(c => c.Descripcion).Width(150).Title("Descripción");
                            columns.ForeignKey(c => c.TipoConcepto, (System.Collections.IEnumerable)ViewData["TiposConceptos"], "Ident", "Valor").Width(125).Title("Tipo de concepto");
                            //columns.Bound(c => c.EID).Width(75).Title("s");
                            //columns.Bound(c => c.Nombre).Width(175).Title("Name");
                            //columns.Bound(c => c.Locacion).Width(150).Title("Locacion");
                            columns.Bound(c => c.Active).Width(50).Title("Activo").Filterable(false).ClientTemplate("#:Active  ? 'Si' : 'No' #");
                            columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar"); }).Width(75);
                        }
                        )
                        .ToolBar(toolBar =>
                        {
                            toolBar.Create().Text("Nuevo");
                        //toolBar.Save();
                        toolBar.Excel().Text("Exportar a excel");
                        })
                        .Excel(ex => ex.AllPages(true))
                        .HtmlAttributes(new { style = "height: 700px;" })
                        .Scrollable(sorteable => sorteable.Virtual(false))
                        .Sortable()
                        .Resizable(c => c.Columns(true))
                        //.Editable(editable => editable.Mode(GridEditMode.InCell))
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ConceptosPopUp"))
                        .Events(eve => eve.SaveChanges("onSave").Edit("edit"))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(c => c.ConceptoId);
                                model.Field(c => c.ConceptoId).Editable(false);
                                model.Field(c => c.Descripcion).Editable(true);
                                model.Field(c => c.TipoConcepto).Editable(true);
                                model.Field(c => c.Active).Editable(true).DefaultValue(true);
                            })
                            .Read(read => read.Action("GetConceptos", "Conceptos"))
                            .Update(update => update.Action("UpdateConcepto", "Conceptos").Type(HttpVerbs.Post))
                            .Create(create => create.Action("CreateConcepto", "Conceptos").Type(HttpVerbs.Post))
                            .PageSize(10)
                        .Events(ev => ev.Error("errorsote").RequestEnd("hola"))
                        )
                        .Navigatable()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5)
                            .Numeric(true)
                            .PreviousNext(true)
                        .Messages(messages =>
                        {
                            messages.ItemsPerPage("Registros por página");
                            messages.Empty("Sin información para mostrar");
                            messages.First("Primera");
                            messages.Page("Página");
                            messages.Last("Última");
                            messages.Previous("Anterior");
                            messages.Next("Siguiente");
                            messages.Refresh("Actualizar");
                            messages.Of("De");
                            messages.MorePages("Mas páginas");
                            //messages.Display("Prueba");
                            messages.Display("{0} a {1} de {2}");
                        })
                        )
                )
            </div>
        </div>
    </div>

}
else
{
    <p>You are not logged in</p>
}

@Scripts.Render("~/bundles/Conceptos")